# Node
node_modules
*.log

# Next.js
.next
apps/**/.next

# Vite
dist

# OS
.DS_Store

# Env
.env
.env.*
!.env.example

# Build
build

# Misc
*.zip
*.tar.gz
*.tgz

# Nx
tmp
coverage

# Local Netlify folder
.netlify
